/* Mobile Styles */
@media handheld, screen and (max-width: 743px) {
  .main-container {
    background-color: coral;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .loader {
    background-color: whitesmoke;
    color: #24272e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 30rem;
    height: 16rem;
    padding: 0.2rem;
    margin: auto;
    text-align: center;
  }

  .weather-week {
    padding-left: 2rem;
  }

  .container {
    background-color: whitesmoke;
    color: #24272e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 30rem;
    padding: 0.2rem;
    margin: auto;
    text-align: center;
  }
  .weather-week {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  .title {
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    text-align: center;
    padding-bottom: 5px;
  }

  .temp {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .location {
    font-family: "Roboto", sans-serif;
    padding-bottom: 5px;
  }

  span.stretch {
    display: inline-block;
    padding-right: 5px;
    margin: 25px;
    -webkit-transform: scale(2, 6); /* Safari and Chrome */
    -moz-transform: scale(2, 6); /* Firefox */
    -ms-transform: scale(2, 6); /* IE 9 */
    -o-transform: scale(2, 6); /* Opera */
    transform: scale(2, 6); /* W3C */
  }

  .temp-num {
    font-size: x-large;
    padding-left: 5px;
    margin-top: 50px;
  }

  .time {
    font-family: "Roboto", sans-serif;
    font-size: xx-large;
    display: flex;
    justify-content: center;
  }

  .error-message {
    font-family: "Roboto", sans-serif;
    font-size: large;
    word-wrap: break-word;
    height: 14rem;
    padding: 20%;
  }

  .hide {
    display: none;
  }
}

@media handheld, screen and (min-width: 743px) {
  .main-container {
    background-color: coral;
    height: 100vh;
    padding-top: 3rem;
  }
  .container {
    background-color: whitesmoke;
    color: #24272e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    padding: 1rem;
    margin: auto;
    text-align: center;
  }
  .weather-week {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  .title {
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    text-align: center;
    padding-bottom: 5px;
  }

  .temp {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .location {
    font-family: "Roboto", sans-serif;
    padding-bottom: 5px;
  }

  span.stretch {
    display: inline-block;
    padding-right: 5px;
    margin: 40px;
    -webkit-transform: scale(3, 9); /* Safari and Chrome */
    -moz-transform: scale(3, 9); /* Firefox */
    -ms-transform: scale(3, 9); /* IE 9 */
    -o-transform: scale(3, 9); /* Opera */
    transform: scale(3, 9); /* W3C */
  }

  .temp-num {
    font-size: x-large;
    padding-left: 5px;
    margin-top: 50px;
  }

  .time {
    font-family: "Roboto", sans-serif;
    font-size: xx-large;
    display: flex;
    justify-content: center;
  }

  .error-message {
    font-family: "Roboto", sans-serif;
    font-size: large;
    word-wrap: break-word;
    height: 14rem;
    padding: 20%;
  }

  .hide {
    display: none;
  }
}
