<div class="container">
  <div *ngIf="!isLoading">
    <div class="error-message" *ngIf="noData">
      {{ errormsg }}
    </div>
  </div>
  <div class="weather-panel">
    <p class="title">Today</p>
    <div class="temp">
      <div class="temp-num">
        <p>
          <span class="stretch">Max</span> {{ todayMax | celcuisConverter }}
        </p>
      </div>
      <i class="material-icons"> device_thermostat </i>
      <div class="temp-num">
        <p>
          <span class="stretch">Min</span> {{ todayMin | celcuisConverter }}
        </p>
      </div>
    </div>
    <p>{{ forecast.city.name }}</p>
    <div class="time">
      <span><i class="material-icons"> event </i></span>
      <p>{{ todayDate }}</p>
    </div>
    <div class="weather-week">
      <div *ngFor="let day of weekForecast; let i = index">
        <app-week-weather
          [min_temp]="day.temp.min"
          [max_temp]="day.temp.max"
          [index]="i"
        ></app-week-weather>

        <!-- [dateOfWeek]="" -->
      </div>
    </div>
  </div>
</div>
