<div class="container">
  <div *ngIf="isLoading && !sortedForecast.length">
    <div class="error-message" *ngIf="noData">
      {{ errormsg }}
      test
    </div>
  </div>
  <div class="weather-panel" [ngClass]="{ hide: isLoading }">
    <p class="title">Today</p>
    <div class="temp">
      <div class="temp-num">
        <p>
          <span class="stretch">Max</span> {{ todayMax | celcuisConverter }}
        </p>
      </div>
      <i class="material-icons"> device_thermostat </i>
      <div class="temp-num">
        <p>
          <span class="stretch">Min</span> {{ todayMin | celcuisConverter }}
        </p>
      </div>
    </div>
    <div class="time">
      <span><i class="material-icons"> event </i></span>
      <p>{{ todayDate }}</p>
    </div>
    <div class="location">
      <p>Location: {{ forecast.city?.name }}</p>
    </div>
    <div class="weather-week">
      <div *ngFor="let dayOfWeek of sortedForecast; let i = index">
        <app-week-weather
          *ngIf="dayOfWeek.day"
          [min_temp]="dayOfWeek.temp.min"
          [max_temp]="dayOfWeek.temp.max"
          [dateOfWeek]="dayOfWeek.day"
          (rendingComplete)="hasLoaded = $event"
        ></app-week-weather>
      </div>
    </div>
  </div>
</div>
